.btn {
}
.btn:hover {
    background: rgb(153, 0, 255);
}
.start {
}
.spin:hover {
    background:rgb(153, 0, 255) ;
}
.container {
}
.block {
}
.character {
}
.profile {
}
.btn {
    background: rgb(174, 0, 255);
}
.btn:hover {
    background: rgb(95, 21, 138);
}
.account {
}
.title {
}
.stats {
}
.bar {
}
.row {
}
.item {
}
.pair {
}
.cell {
}
.gradient-text {
}